.towner {
  border-style: solid;
  border-color: black;
  border-spacing: 3px;
  padding: 5px;
  border-radius: 3px;
  margin: 20px;
  text-align: center;
}
.town-details{
  display: flex;
  align-items: center;
  flex: auto;
  justify-content: center;
  text-align: center;
}
.town-details2{
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex: fit-content;
}
.detailer{
  display: flex;
  align-items: center;
  flex: auto;
  justify-content: center;
  text-align: center;
}

.armyLister, .buildingLister {
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex: fit-content;
}
