<div class="towner">
  <h3>{{townName}}</h3>
  <div class="town-details">
    <div class="town-details2">{{owner}}</div>
    <div class="town-details2">{{vault}}</div>
    <div class="town-details2">{{townRace}}</div>
  </div>
  <div class="detailer">
    <div class="buildingLister">
      <div *ngFor="let building of buildingList">
        {{building.building}} : {{building.quantity}}
      </div>
    </div>
    <div class="armyLister">
      <div *ngFor="let army of armyList">
        {{army.type}}: {{army.quantity}} ({{army.race}})
        <br>
      </div>
    </div>

  </div>
  <button (click)="newTurner()"> New Turn </button>
</div>
